.title-card {
  border-bottom: solid white 4px;
  max-width: 60em;
  margin: 2em;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  background-color: rgba(252, 249, 244, 1);
}

.title-image {
  max-width: 200px;
  /* width: 200px; */
  margin: 1em;
}

.title-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em 0 1em;
}
.title-body {
  display: flex;
  align-items: center;
}

b {
  margin: 0 1em 0 1em;
}
